<div class="box sidebox about">
  <div class="sidebox-title">About</div>
  <div class="sidebox-content">
    <p>{{@blog.description}}</p>

    <!--Change this to your homepage-->
    <p>See my latest projects at <a href="https://github.com/hieubkcse" style="color: #8BC34A">Github</a></p>

  </div>
</div>

<!--Change the links to your sites-->
<div class="sidebox box social clearfix">
  <ul>
    <a href="mailto:huynhtrunghieu.cs@gmail.com" target="_blank" class="social-item mail"><li><i class="fa fa-envelope-o"></i></li></a>
    
    <a href="http://twitter.com/" target="_blank" class="social-item tw"><li><i class="fa fa-twitter"></i></li></a>
    
    <a href="http://github.com/hieubkcse" target="_blank" class="social-item github"><li><i class="fa fa-github"></i></li></a>
    
    <a href="https://www.facebook.com/huynhtrunghieu.cs" target="_blank" class="social-item home"><li><i class="fa fa-facebook"></i></li></a>

  </ul>

</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Latest Articles</div>
  <div class="sidebox-content loading">
    <div class="loader">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>

